<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ghadni" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1" />
    <title>{% block title %}{% endblock %}Ghai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="screen" />
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}?v=2" /> -->
    {% block styles %}
    {% endblock %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">Ghai{% block pagetitle %}{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            {% if user %}
            <li><a href="{{ url_for('feeds') }}">Feeds</a></li>
            <li><a href="{{ url_for('fetch') }}">Fetch</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li><a href="{{ url_for('index' ) }}" title="show profile"><i class="fa fa-user"></i> {{ user.name }} ({{ user.login }})</a></li>
                <li><a href="{{ url_for('logout') }}" title="logout"><i class="fa fa-sign-out"></i> logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" title="login"><i class="fa fa-sign-in"></i> login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
{% if messages %}
<div class="green">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
{% block content %}
{% endblock %}
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
</div>
</body>
</html>
